@charset "utf-8";
/* Created by: Emma Wood  11-19-2020 */

nav > ul > li {
    display: block;
}
nav {
    background-color: #152420; 
}
h1 {
    display: none;
}
body {
    background-image: linear-gradient( #2a9ff8, white);
    background-repeat: no-repeat;
}
main, footer {
    background: transparent;
}
hr {
    display: inherit;
} 
/*Imbedded Style Sheet*/

/* ===========================
        Desktop Styles:
 ============================= */
@media only screen and (min-width: 640px) {
    .bar { 
        background-color: #152420; 
    }
    main { 
        background-image: url(../images/heroback.jpg); 
        background-repeat: no-repeat;
    }
    
    nav > ul > li {
        list-style-type: none;
        display: inline;
    }
    nav {
        background-color: #152420; 
    }
    body {
        background: white;
    }
    h1 {
        display: inline;
    }
}