<!--=====================================================================================================================================================
                                            MODIFICATION LOG
        #Original Author: Emma L. Wood
        #Date Created: 3-29-2021
        #Last Modified by: Emma L. Wood
        #Date Last Modified: 3-29-2021

        #Modification Log:
            - 3-29-2021: Added jumbotron component.
    =========================================================================================================================================================-->

<div class="jumbo">
  <div class="right tomster"></div>
  {{yield}}
</div>