<!--=====================================================================================================================================================
                                            MODIFICATION LOG
        #Original Author: Emma L. Wood
        #Date Created: 3-31-2021
        #Last Modified by: Emma L. Wood
        #Date Last Modified: 3-31-2021

        #Modification Log:
            - 3-31-2021: Added about page to website.
    =========================================================================================================================================================-->

<Jumbo>
  <h2>About Super Rentals</h2>
  <p>
    The Super Rentals website is a place for you to find all the best places to stay.
    We are a property rental site where you can search for thousands of homes to rent
    near OR far from you.
  </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column2">
    <div class="card">
      <img src="assets/images/JaneDoe.jpg" alt="Jane" style="width:100%">
      <div class="container3">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
        </p>
        <p>jane@example.com</p>
        <p><button class="button1">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="assets/images/MikeRoss.jpg" alt="Mike" style="width:100%">
      <div class="container3">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum officia.
        </p>
        <p>mike@example.com</p>
        <p><button class="button1">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="assets/images/JohnDoe.jpeg" alt="John" style="width:100%">
      <div class="container3">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
        </p>
        <p>john@example.com</p>
        <p><button class="button1">Contact</button></p>
      </div>
    </div>
  </div>
</div>