<!--=====================================================================================================================================================
                                            MODIFICATION LOG
        #Original Author: Emma L. Wood
        #Date Created: 3-29-2021
        #Last Modified by: Emma L. Wood
        #Date Last Modified: 4-1-2021

        #Modification Log:
            - 3-29-2021: Added this (boilerplate) to website.
            - 4-1-2021: Added code for accordion.
    =========================================================================================================================================================-->

<div class="container">
  <NavBar />
  <div class="body">
    {{outlet}}
  </div>
</div>