<!--=====================================================================================================================================================
                                            MODIFICATION LOG
        #Original Author: Emma L. Wood
        #Date Created: 3-30-2021
        #Last Modified by: Emma L. Wood
        #Date Last Modified: 3-30-2021

        #Modification Log:
            - 3-30-2021: Added jumbotron to page | Added faq page to website.
    =========================================================================================================================================================-->

<Jumbo>
  <h2>Facts and Questions</h2>
  <p>
    Here you can find answers to questions we are frequently asked!
  </p>
</Jumbo>

<label class="label1" for="title1">How do I submit a rental application?</label>
<input class="input1" type="checkbox" id="title1" />
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

<label class="label1" for="title2">Is it possible to apply for a property that I haven't viewed?</label>
<input class="input1" type="checkbox" id="title2" />
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

<label class="label1" for="title3">How can I visit a property?</label>
<input class="input1" type="checkbox" id="title3" />
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

<label class="label1" for="title4">Do I have to sign a lease?</label>
<input class="input1" type="checkbox" id="title4" />
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

<label class="label1" for="title5">What is your security deposit policy?</label>
<input class="input1" type="checkbox" id="title5" />
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

<label class="label1" for="title6">How do the rent payments work?</label>
<input class="input1" type="checkbox" id="title6" />
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

<label class="label1" for="title7">When do you increase the rent?</label>
<input class="input1" type="checkbox" id="title7" />
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

<label class="label1" for="title8">What happens if I can't pay the rent on time?</label>
<input class="input1" type="checkbox" id="title8" />
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>