
/* Created by Emma Wood, 11-1-2020 through 11-12-2020 */


/* KEEP ALL OF THIS FOR EVERY CSS PAGE */
@font-face {
    font-family: 'great_vibesregular';
    src: url('greatvibes-regular-webfont.woff2') format('woff2'),
         url('greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.topnav {
    display: inline;
    list-style-type: none;
    padding: 45px;
    font-size: 24px;
}
.navtop /* Makes the navigation bar centered */ {
    text-align: center;
    color: rgb(199, 245, 129);
}
.topnav a:hover {
    background-color: rgb(230, 230, 230);
    color: rgb(1, 192, 199);
    border: rgb(230, 230, 230);
    /* padding: 15px 15px 15px 15px; */
    text-decoration: none;
}
.topnav a:active {
    background-color: rgb(230, 230, 230);
    color: rgb(5, 98, 219);
    border: rgb(230, 230, 230);
    text-decoration: none;
}
a:link {
    color: rgb(199, 245, 129);
    text-decoration: none;
}
a:visited {
    color: rgb(199, 245, 129);
    text-decoration: none;
}
footer a:link {
    color: rgb(5, 98, 219);
}
footer a:visited {
    color: rgb(5, 98, 219);
}
body {
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
    margin: 0;
}
header {
    background-color: rgb(175, 171, 171);
    padding: 15px;
    height: 70px;
}
footer {
    text-align: center;
    background-color: rgb(175, 171, 171);
    padding: 15px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}
main {
    padding: 40px;
    background-color:rgb(199, 245, 129);
    min-height: 73vh;
    font-size: 30px;
}
.gitHub {
    float: left;
}
.linkedIn {
    float: right;
}

#container {
    position: relative;
    height: 5px;
    width: 0;
    margin-left: 0;
    padding-left: 0;
}
#siteLogo {
    
    position: absolute;
    top: 0px;
    left: 0px;
}
/* END OF RE-USABLE CODE FOR EACH PAGE */

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    border-width: 2px;
    border-color: rgb(175, 171, 171); 
    border-style: solid;
    color: #000000;

    margin-top: 40px;
    margin-bottom: 0;
    border-width: 5px;
    border-color: rgb(85, 218, 218);
  }
  
  table td, th {
    border-width: 2px;
    border-color: rgb(175, 171, 171);
    border-style: solid;
    padding: 15px;
    text-align: center;
  }
  
  table thead {
    background-color: rgb(175, 171, 171);
  }
  table tfoot {
    background-color: rgb(175, 171, 171);
  }
  caption {
      margin-bottom: 15px;
      text-decoration: underline;
      font-size: 40px;
  }

  .education {
      text-align: center;
      margin-top: 0;
  }
  .educationListItems {
    text-align: center;
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 40px;
  }
  .employment {
    text-align: center;
    margin-top: 20px;
  }
  .employmentListItems {
    text-align: center;
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 40px;
  }